@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    line-height: 1.75;
    color: #333333;
}

a {
    color: #333333;
    text-decoration: none;
}

img {
    /* max-width: 100%; */
    height: auto;
    vertical-align: bottom;
}

li {
    list-style: none;
}

/* 部品
------------------------------------------ */
.-frex {
    display: flex;
}

.-poppins {
    font-family: "Poppins", sans-serif;
}

.-white {
    color: #fff;
}

.-pink {
    color: #F23397;
}

.-italic {
    font-style: italic;
}

.-topic {
    text-align: center;
    font-size: 1.8125rem;
}

@media (min-width: 768px) {
    .-topic {
        font-size: 2.25rem;
    }
}

/* マウスオーバー時60％透過 */
.-transparent:hover {
    opacity: 0.6;
}

.-promotion__button {
    display: block;
    padding: 1.4375rem 3.125rem;
    width: 18.75rem;
    margin-inline: auto;
    line-height: 1;
    color: #fff;
    background: linear-gradient(to right, #0271E0, #53A2F0);
    border-radius: 3.125rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .-promotion__button {
        width: 22rem;
        padding: 1.625rem 3.1875rem;
        font-size: 1.5625rem;
        margin-inline: 0;
    }
}

/* ヘッダー
------------------------------------------ */
.header {
    box-shadow: 0 0 0.625rem 0 #CCCED0;
    line-height: 1.6;
    position: sticky;
    top: 0;
    height: 4.3125rem;
    background-color: #fff;
    z-index: 1;
    width: 100%;
}

@media (min-width: 768px) {
    .header {
        height: 6.0625rem;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .header__container {
        display: flex;
        justify-content: space-between;
        max-width: 77.875rem;
        margin: 0 auto;
        align-items: center;
        padding: 1.125rem 2.4375rem 1.375rem;
    }
}

h1 {
    padding-left: 0.9375rem;
}

@media (min-width: 768px) {
    h1 {
        width: 21%;
        padding-left: 0.3125rem;
    }
}

@media (min-width: 768px) {
    h1>a {
        display: inline-block;
        width: 100%;
    }
}

@media (min-width: 768px) {
    .header__logo {
        width: 100%;
        padding-bottom: 0.3125rem;
    }
}

/* ハンバーガーボタン */
.hamburger__button {
    font-size: 2.625rem;
    width: 19%;
    color: #fff;
    background-color: #005BAC;
}

@media (max-width: 767.9px) {
    .hamburger__button {
        height: 4.3125rem;
    }
}

@media (min-width: 768px) {
    .hamburger__button {
        display: none;
    }
}

/* ハンバーガーメニュー
------------------------------------------ */
@media (max-width: 767.9px) {
    .hamburger__menu {
        position: fixed;
        padding: 0.75rem 1.0625rem 2.3125rem;
        transition: opacity .3s linear;
        opacity: 0;
        visibility: hidden;
    }
}

/* 開いている状態 */
.hamburger__menu-active {
    top: 4.3125rem;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background-color: #005BAC;
    z-index: 1;
}

/* ナビゲーション
------------------------------------------ */
@media (min-width: 768px) {
    .header__nav {
        display: flex;
    }
}

.hamburger__menu__list__group {
    display: flex;
    flex-direction: column;
    row-gap: 0.5625rem;
    margin: 0 auto 2.1875rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .header__nav__list__group {
        padding-top: 1.375rem;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.25rem;
        margin: 0;
    }
}

@media (min-width: 1074px) {
    .header__nav__list__group {
        padding-top: 1.375rem;
        gap: 2.75rem;
    }
}

.hamburger__menu__list__group>li {
    padding-bottom: 0.9375rem;
}

@media (max-width: 767.9px) {
    .hamburger__menu__list__group>li {
        border-bottom: 0.125rem solid #2B77BA;
    }
}

.hamburger__menu__list__group>li>a {
    margin: 0.1875rem 0;
    padding-left: 0.25rem;
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
}

@media (min-width: 768px) {
    .hamburger__menu__list__group>li>a {
        margin-bottom: 0.3125rem;
        font-size: 0.9375rem;
        line-height: 1;
        color: #333;
    }
}

@media (min-width: 1074px) {
    .hamburger__menu__list__group>li>a {
        margin-bottom: 0.3125rem;
        font-size: 1.25rem;
    }
}

.hamburger__menu__list__group>li>.bi__arrow__right__short {
    padding-top: 0.3125rem;
    font-size: 1.5625rem;
}

@media (min-width: 768px) {
    .hamburger__menu__list__group>li>.bi-arrow-right-short {
        display: none;
    }
}

/* 申し込みボタン */
.header__button {
    display: block;
    padding: 1.25rem 1.875rem;
    line-height: 1;
    text-align: center;
    color: #005BAC;
    background-color: #fff;
    border-radius: 3.125rem;
    font-size: 1.125rem;
    font-weight: 700;
    border: 0.125rem solid #fff;
}

@media (min-width: 768px) {
    .header__button {
        margin-left: 1.5625rem;
        padding: 0.625rem 1.25rem;
        background: linear-gradient(to right, #0271E0, #53A2F0);
        color: #fff;
        font-size: 0.9375rem;
    }
}

@media (min-width: 768px) and (max-width: 1074px) {
    .header__button {
        padding: 1.1875rem 1.5625rem;
    }
}

@media (min-width: 1075px) {
    .header__button {
        margin-left: 2.8125rem;
        padding: 1.3125rem 2.6875rem;
        font-size: 1.25rem;
    }
}

/* カバー */
.cover__pickup {
    background-image: url("/assets/image/cover/mainVIsual_sp.jpg");
    background-size: 100% auto;
    padding-left: 4%;
    padding-top: 9%;
    padding-bottom: 2.1875rem;
    aspect-ratio: 16 / 9;
}

@media (min-width: 768px) {
    .cover__pickup {
        background-image: url("/assets/image/cover/mainVIsual_pc.jpg");
        padding-left: 21.5%;
        padding-top: 6%;
        aspect-ratio: 16 / 5;
    }
}

@media (min-width: 1575px) {
    .cover__pickup {
        padding-bottom: 7%;
    }
}


/* ランキング */
.cover__pickup__ranking {
    display: flex;
    margin-bottom: 1rem;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .cover__pickup__ranking {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 1575px) {
    .cover__pickup__ranking {
        margin-bottom: 1.625rem;
    }
}

@media (min-width: 768px) and (max-width: 1574px) {
    picture {
        height: 5.4375rem;
    }
}

.frame__left,.frame__right {
    height: 4.4375rem;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .frame__left,.frame__right {
        height: 100%;
    }
}

@media (min-width: 1575px) {
    .frame__left,.frame__right {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .success__ranking {
        padding: 0 0.8125rem;
    }
}

.success {
    font-size: 0.6875rem;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .success {
        font-size: 0.9375rem;
    }
}

@media (min-width: 1575px) {
    .success {
        font-size: 1.3125rem;
    }
}

.first {
    text-align: center;
    font-weight: 800;
    line-height: 1.2;
}

@media (min-width: 768px){
    .first {
        padding-top: 0.125rem;
    }
}

.num {
    font-size: 1.5625rem;
    font-weight: 800;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .num {
        font-size: 2.5rem;
    }
}

@media (min-width: 1575px) {
    .num {
        font-size: 3.375rem;
    }
}

.one {
    font-size: 2.25rem;
    font-weight: 800;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .one {
        font-size: 2.8125rem;
    }
}

@media (min-width: 1575px) {
    .one {
        font-size: 4.625rem;
    }
}

.cover__highschool {
    font-size: 0.875rem;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .cover__highschool {
        font-size: 1.125rem;
    }
}

@media (min-width: 1575px) {
    .cover__highschool {
        font-size: 2.0625rem;
    }
}

.cover__start {
    color: #005BAC;
    font-weight: 800;
    font-size: 1.5625rem;
    line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .cover__start {
        font-size: 1.75rem;
    }
}

@media (min-width: 1575px) {
    .cover__start {
        font-size: 3.75rem;
    }
}

/* 申し込み・請求ボタン */
.cover__request {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    .cover__request {
        flex-direction: row;
        justify-content: center;
        margin-top: -2.3125rem;
        gap: 2.5rem;
        width: 100%;
    }
}

@media (min-width: 1575px) and (max-width: 1800px) {
    .cover__request {
        margin-top: -5.125rem;
    }
}

.cover__request__button {
    padding: 11px 53px;
    border-radius: 25px;
    color: #fff;
    font-weight: 800;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .cover__request__button {
        padding: 0.9375rem 2.5rem;
        font-size: 0.9375rem;
        border-radius: 3.125rem;
    }
}

@media (min-width: 1575px) {
    .cover__request__button {
        padding: 1.25rem 3.875rem;
        font-size: 1.5rem;
        border-radius: 3.125rem;
    }
}

.green {
    background-color: #77CB33;
}

.orange {
    background-color: #F6AA00;
}

.pale-green {
    background-color: #3AC8AD;
    width: 15.625rem;
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1574px) {
    .cover__request__button {
        width: 13.4375rem;
    }
}

@media (min-width: 1575px) {
    .pale-green {
        width: 21.25rem;
    }
}

/* 3つの理由 */
.point {
    padding: 1.125rem 1.0625rem 0;
}

@media (min-width: 768px) {
    .point {
        padding-top: 3.75rem;
    }
}

/* title部分 */
.point__text__num,.point__number {
    display: inline-block;
}

.point__text__title,.point__text__description {
    display: block;
}

.point__three {
    font-size: 2.3125rem;
}

@media (min-width: 768px) {
    .point__three {
        font-size: 3.375rem;
    }
}

/* 内容 */
.point__container {
    margin-top: 0.875rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21.875rem;
}

@media (min-width: 768px) {
    .point__container {
        gap: 3.0625rem;
    }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .point__container {
        margin-top: 1.0625rem;
        max-width: 43.75rem;
    }
}

@media (min-width: 1171px) {
    .point__container {
        margin-top: 1.0625rem;
        max-width: 72.5rem;
    }
}

@media (min-width: 768px) {
    .point__item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .point__item {
        gap: 1.875rem;
    }
}

.point__item img {
    width: 100%;
}

@media (min-width: 768px) {
    .point__item__reverse {
        flex-direction: row-reverse;
    }
}

@media (min-width: 768px) {
    .point__item>picture {
        height: fit-content;
    }
}

@media (min-width: 768px) and (max-width: 1170px) {
    .point__text {
        max-width: 21.875rem;
    }
}

@media (min-width: 1171px) {
    .point__text {
        max-width: 34.875rem;
    }
}

/* ポイント連番 */
.point__text__num {
    margin-top: 0.6875rem;
    font-size:  1.5rem;
    font-weight: 500;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .point__text__num {
        margin-top: 0.75rem;
        font-size:  1.75rem;
    }
}

.point__number {
    font-size: 2.25rem;
    font-weight: 800;
    padding-left: 0.3125rem;
}

@media (min-width: 768px) {
    .point__number {
        font-size: 2.625rem;
        padding-left: 0.3125rem;
    }
}

/* ポイントタイトル */
.point__text__title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .point__text__title {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

/* ポイント説明文 */
.point__text__description {
    margin-top: 0.6875rem;
    margin-bottom: 2.1875rem;
}

@media (min-width: 768px) and (max-width: 1170px) {
    .point__text__description {
        font-size: 0.8125rem;
    }
}

@media (min-width: 1171px) {
    .point__text__description {
        margin-top: 1.125rem;
    }
}

.-adjustments1 {
    margin-top: 0.1875rem;
}

.-adjustments2 {
    margin-top: 0.375rem;
}

@media (min-width: 768px) {
    .-adjustments2 {
        margin-top: 1.3125rem;
    }
}

/* 申し込みボタン */
.promotion {
    padding: 2.3125rem 0.3125rem 2.5rem;
    background-color: rgba(255,85,85,0.1);
}

@media (min-width: 768px) {
    .promotion {
        padding-top: 3.5625rem;
        padding-bottom: 3.5rem;
        margin-top: 4.5rem;
    }
}

.promotion__text {
    text-align: center;
    margin: 0 2.375rem 0.8125rem;
}

@media (min-width: 768px) {
    .promotion__text {
        margin-bottom: 1.125rem;
    }
}

.promotion__buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 768px) {
    .promotion__buttons {
        flex-direction: row;
        justify-content: center;
    }
}

/* コース・目的 */
.course__container {
    margin-bottom: 95px;
}

@media (min-width: 768px) {
    .course__container {
        margin: 0 1.25rem;
    }
}

.course__title {
    margin: 3.6875rem 0 1.0625rem;
}

@media (min-width: 768px) {
    .course__title {
        margin-bottom: 2.125rem;
    }
}

/* タブ */
.st-theme-basic {
    border: none;
}

/* タブナビゲーション */
.tab.st > .nav {
    column-gap: 0.25rem;
    flex-direction: row !important;
}

.tab.st-theme-basic > .nav {
    box-shadow: none;
    width: 21.25rem;
    justify-content: space-between;
    margin: 0 auto;
    gap: 0.9375rem;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .nav {
        width: auto;
        max-width: 72.5rem;
        gap: 2.375rem;
    }
}

.tab.st-theme-basic > .nav .nav-link {
    padding: 1.5rem 1.1875rem;
    line-height: 1;
    background-color: #f0f0f0;
    color: rgba(51,51,51,0.5);
    font-size: 1.0625rem;
    font-weight: 800;
    border-radius: 0.625rem 0.625rem 0 0;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .nav .nav-link {
        line-height: 1.5;
        font-size: 1.5rem;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic > .nav .nav-link.active {
    color: #333 !important;
    background-color: #F2F9FF;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .nav .nav-link {
        padding: 1.2rem 0.3125rem 1.3125rem;
    }
}

.tab.st-theme-basic > .nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ */
.tab-content {
    text-align: center;
    background-color: #F2F9FF;
}

@media (min-width: 768px) {
    .tab-content {
        border-radius: 0 0 1.25rem 1.25rem;
        max-width: 72.5rem;
        margin-inline: auto;
    }
}

.tab.st-theme-basic > .tab-content > .tab-pane {
    padding-top: 1.8125rem;
}

@media (min-width: 768px) {
    .tab.st-theme-basic > .tab-content > .tab-pane {
        padding: 1.875rem 1.3125rem 1.25rem;
    }
}

@media (min-width: 768px) {
    .tab-background {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-inline: auto;
        max-width: 72.8125rem;
    }
}

.course__tab__content__item {
    width: 21.4375rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .course__tab__content__item {
        width: calc(50% - 1.5625rem);
    }
}

@media (max-width: 767px) {
    .course__tab__content__item:nth-child(n+2) {
        margin-top: 1.125rem;
    }
}

@media (min-width: 768px) {
    .course__tab__content__item:nth-child(n+3) {
        margin-top: 1.4375rem;
    }
}

.course__tab__content__title {
    display: flex;
    text-align: start;
    align-items: center;
    margin-left: -0.4375rem;
    line-height: 1.7;
    font-size: 1.25rem;
    font-weight: 800;
}

@media (min-width: 768px) {
    .course__tab__content__title {
        line-height: 1.8;
        font-size: 1.25rem;
    }
}

.course__tab__content__item picture {
    display: block;
    cursor: pointer;
    max-width: 21.4375rem;
    height: fit-content;
    overflow: hidden;
    border-radius: 0.625rem;
}

@media (min-width: 768px) {
    .course__tab__content__item picture {
        max-width: 100%;
    }
}

/* イメージ写真 */
.course__tab__content__item img {
    transition-duration: 1s;
}

@media (min-width: 768px) {
    .course__tab__content__item img {
        width: 100%;
    }
}

.course__tab__content__item img:hover {
    transform:scale(1.2);
}

/* 矢印 */
.bi-arrow-right-short {
    color: #2B77BA;
    font-size: 1.875rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .bi-arrow-right-short {
        font-size: 2.0625rem;
    }
}

.promotion__second {
    margin-top: 4.125rem;
}

/* 費用 */
.price {
    margin: 0 0.3125rem 3.9375rem;
}

@media (min-width: 768px) {
    .price {
        margin-bottom: 4.4375rem;
    }
}

.price__title {
    margin: 3.6875rem 0.3125rem 0.9375rem;
}

@media (min-width: 768px) {
    .price__title {
        margin: 3.6875rem 1.25rem 1.375rem;
        line-height: 2;
    }
}

.price__title::after {
    width: 1.5rem;
}

@media (min-width: 768px) {
    .price__title::after {
        width: 2.25rem;
    }
}

.price__container {
    max-width: 37.4375rem;
    margin-inline: auto;
    padding: 0 0.625rem;
}

@media (min-width: 768px) {
    .price__container {
        padding: 0;
    }
}

.price__item__title {
    font-size: 1.25rem;
    margin-bottom: 0.6875rem;
}

@media (min-width: 768px) {
    .price__item__title {
        font-size: 1.5625rem;
        margin-bottom: 0.6875rem;
    }
}

/* テーブル全体の設定 */
table {
    width: 100%;
    border: 0.1875rem solid #ccc;
    border-collapse: collapse;
}

th,td {
    border: 0.0625rem solid #dddddd;
    text-align: center;
    align-items: center;
}

@media (min-width: 768px) {
    th,td {
        font-size: 1.125rem;
    }
}

/* ヘッダーの設定 */
.price__item__header__plan,.price__item__header__fee {
    background-color: #f5f5f5;
    padding: 1.0625rem 1.125rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .price__item__header__plan,.price__item__header__fee {
        padding: 1.6875rem 1.625rem;
        line-height: 1.3;
    }
}

@media (min-width: 768px) {
    .price__item__header__plan {
        width: 9rem;
    }
}

/* カラムの設定 */
.price__item__course {
    padding-top: 1.1875rem;
    padding-bottom: 1rem;
}

@media (min-width: 768px) {
    .price__item__course {
        padding: 1.375rem 0;
    }
}

.price__item__text {
    padding-top: 0.25rem;
    padding-left: 0.5rem;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.6;
}

@media (min-width: 768px) {
    .price__item__text {
        padding-top: 0.0625rem;
        font-size: 2rem;
        line-height: 1.2;
    }
}

td {
    padding: 0 0.6875rem;
    margin-top: 0.3125rem;
}

/* 円単位の調整 */
.-yen {
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .-yen {
        font-size: 1rem;
    }
}

.promotion__third {
    margin-top: 0.9375rem;
}

/* フッター */
@media (min-width: 768px) {
    .footer__nav {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
}

.footer__container {
    overflow: hidden;
}

@media (min-width: 768px) {
    .footer__container {
        width: 50%;
    }
}

.footer__qa,.footer__search {
    display: block;
    padding-top: 4.0625rem;
    padding-left: 4%;
    font-weight: 800;
    font-size: 1.375rem;
    width: 100%;
    aspect-ratio: 20 / 9;
    transition-duration: 1s;
}

@media (min-width: 768px) {
    .footer__qa,.footer__search {
        display: flex;
        font-size: 2rem;
        width: 100%;
        max-height: 20rem;
        padding: 0;
        aspect-ratio: 16 / 5;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1920px) {
    .footer__qa,.footer__search {
        aspect-ratio: 3 / 1;
    }
}

.footer__qa:hover,.footer__search:hover {
    transform:scale(1.2);
}

.footer__qa {
    background-image: url("/assets/image/footer/pht_qa_sp.jpg");
    background-size: 100%;
}

@media (min-width: 768px) {
    .footer__qa {
        background-image: url("/assets/image/footer/pht_qa_pc.jpg");
    }
}

.footer__search {
    background-image: url("/assets/image/footer/pht_classrooms_sp.jpg");
    background-size: 100%;
}

@media (min-width: 768px) {
    .footer__search {
        background-image: url("/assets/image/footer/pht_classrooms_pc.jpg");
    }
}

.footer__copyright {
    display: block;
    padding: 2rem 0 1.5625rem;
    background-color: #DDD;
    font-size: 0.8125rem;
    text-align: center;
}

@media (min-width: 768px) {
    .footer__copyright {
        padding: 2.9375rem 0;
    }
}